@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright|Playfair+Display+SC');

* {
  font-family: 'Open Sans', sans-serif;
}

#body {
  margin-top: 60px;
}

h1, h2, h4 {
  font-family: 'Playfair Display SC', cursive;
}

h3 {
  font-family: 'Cormorant Upright', cursive;
}

#navbar img {
  width: 90px;
  height: auto;
}

#navbar {
  background: rgb(46,54,57);
  border: none;
}

#cover {
  background-image: url('./img/cover.jpeg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

#cover h1 {
  text-transform: uppercase;
  color: white;
}

#cover div {
  background: rgba(61,120,189,0.5);
  border-radius: 5px;
  margin-top: 150px;
  padding: 10px 20px;
}

#thong-tin {
  margin: 20px 0 30px 0;
}

.bold {
  font-weight: bold;
}

.bigger {
  font-size: 50px;
}

.anh-san-pham {
  width: 100%;
  transition: transform 0.2s;
}

#san-pham div.container-san-pham:hover .anh-san-pham {
  transform: scale(1.2);
}

#san-pham div.container-san-pham {
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

#san-pham .caption {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: white;
  background: linear-gradient(to top, rgba(61,120,189,1), rgba(61,120,189,0));
  padding-top: 25%;
}

#video {
  height: 600px;
  background-image: url('./img/video.png');
  background-size: cover;
  background-position: center;
  text-align: center;
}

#video-title {
  color: white;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
  height: 100%;
  text-align: center;
  padding-top: 150px;
}

#video h2 {
  margin-bottom: 30px;
}

#video #play-btn {
  cursor: pointer;
  position: relative;
}

#video .loader {
  border: 5px solid transparent;
  border-radius: 50%;
  border-top: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

#video i {
  position: absolute;
  top: 30px;
  left: 49%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#modal-video div.modal-content {
  text-align: center;
  background: none;
}

#modal-video div.modal-dialog {
  width: 80%;
}

#ly-do {
  text-align: center;
  margin-bottom: 50px;
}

#ly-do .lydo {
  background: #3d78bd;
  color: white;
  padding: 20px;
  border: white thick solid;
  transition: 0.2s;
  cursor: pointer;
}

#ly-do .lydo:hover {
  background: white;
  color: #fac918;
}

#ly-do h2 {
  margin: 40px 0;
  color: #3d78bd;
}

#ly-do p {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#vi-tri, #tien-ich {
  background: rgba(220,220,220, .5);
}

#vi-tri div.map-container {
  padding: 0;
}

#vi-tri img {
  width: 100%;
}

#vi-tri h2 {
  color: #3d78bd;
}

#vi-tri .time, #vi-tri .place {
  color: #3d78bd;
}

#dac-diem-vi-tri {
  text-align: center;
  text-transform: uppercase;
}

.time {
  margin: 10px 0 5px 0;
}

#vi-tri .icon {
  margin-top: 20px;
  background: #fac918;
  color: white;
  padding: 10px;
  cursor: pointer;
}

#mat-bang {
  height: 600px;
  background-image: url('./img/01.png');
  background-size: cover;
  background-position: center top;
}

#matbang-text {
  color: #3d78bd;
  background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
  margin-top: 30%;
  text-align: right;
  padding-right: 40px;
}

#mat-bang h2 {
  text-transform: uppercase;
}

#tien-ich img {
  width: 100%;
}

#tien-ich div.col-md-6 {
  padding: 0;
}

#tien-ich .icon-tien-ich {
  text-align: center;
}

#tien-ich .icon-tien-ich p {
  color: #3d78bd;
}

#tien-ich div.col-xs-4 {
  margin: 20px 0;
}

#tien-ich i {
  background: #fac918;
  color: white;
  padding: 10px;
  cursor: pointer;
}

#tien-ich #tienich-text{
  padding: 20px
}

#tien-ich h2 {
  margin-bottom: 40px;
  color: #3d78bd;
}

#thu-vien {
  text-align: center;
  margin: 40px 0;
}

#thu-vien img {
  margin: 0 auto;
}

#thu-vien h2 {
  color: #3d78bd;
}

#vr-tour {
  background-image: url('./img/vrtour.png');
  background-size: cover;
  background-position: center;
  height: 500px;
}

#vr-tour h2 {
  margin: 0 0 20px 0;
  color: #3d78bd;
  padding-top: 50px;
  text-align: center;
}

#vr-textbox {
  text-align: justify;
  background: rgba(255,255,255,.5);
  padding: 20px;
  border-radius: 10px;
}

#vr-tour a.btn {
  background: #fac918;
  color: white;
  display: block;
  margin: 0 auto;
  width: 40%;
  margin-top: 30px;
  transition: 0.2s;
}

#vr-tour a.btn:hover {
  transform: scale(1.2);
  font-weight: bold;
}

#tin-tuc {
  margin: 40px 0;
}

#tin-tuc img {
  width: 100%;
}

#tin-tuc .caption {
  position: absolute;
  bottom: -30px;
  color: white;
  width: calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  transition: 0.2s;
  padding: 0 10px;
  background: linear-gradient(to top, rgba(61,120,189,1), rgba(61,120,189,0));
  padding-top: 25%;

}

#tin-tuc .tin {
  overflow: hidden;
  margin-bottom: 20px;

}

#tin-tuc .tin:hover .caption {
  background: linear-gradient(to top, rgba(61,120,189,1), rgba(61,120,189,0));
  padding-top: 25%;
  bottom: 0;
}

#tin-tuc h2, #tin-tuc h3, #tin-tuc .subheading-tintuc {
  text-align: center;
}

#lien-he {
  background-image: url('./img/lienhe.jpeg');
  background-position: center;
  background-size: cover;
  height: 500px;
  color: white;
  overflow: auto;
}

#lien-he .form-group {
  background: rgba(0,0,0,.4);
  padding: 20px;
  border-radius: 10px;
}

#lien-he h2 {
  margin-top: 50px;
}

#lien-he button {
  background: #fac918;
  margin-top: 20px;
}

#lien-he button:hover {
  color: #3d78bd;
}

#modal-box {
  color: black;
}
#modal-box button {
  color: white;
}

#main-footer {
  background: #2e3639;
  color: white;
  text-align: center;
  padding: 20px 0;
}

#main-footer p {
  font-size: 12px;
}
